html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.gradient {
    background-image: linear-gradient(rgb(5, 13, 26), rgb(22, 61, 128));
    background-color: rgb(2, 34, 88);
    background-repeat: no-repeat;
}

.nav-text {
    font-family: sans-serif;
    font-size: 20px;
}

.footer-text {
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(157, 157, 157)
}

.footer {
    margin-top: auto;
    width: 100%;
}

.task-content {
    max-width: 70rem;
    width: 90%;
}